:root {
  --colorPrimario: #94b0da;
  --colorSecundario: #8f91a2;
  --colorTerciario: #dcedff;
  --colorCuarto: #505a5b;
  --colorQuinto: #343f3e;
  --varHeader:#343f3eef;
  --varTransparent: rgba(0, 0, 0, 0.212);
  --colorLetrasFieldset: rgb(0, 0, 0);
}

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto Slab', serif;
  background-image: url(../img/fotoCuerpo23bg.png);
  background-size: cover;
}
  
/*Header*/

header {
  width: 90%;
  background: var(--varHeader);
  border-radius: 12px;
  position: fixed;
  top: 3%;
  left: 5%;
}

.logo__img {
  width: 15%;
  float: left;
  padding-top: 10px;
  padding-left:140px
}

.menu__list {
  width: 60%;
  float: right;
  text-align: center;
  list-style: none;
  overflow: hidden;
}

.menu__nav-li {
  display: inline-block;
  padding: 10px;
  transition: all ease-in-out 250ms;
}

.menu__nav-link--active {
  color: var(--colorPrimario);
  font-size: 1em;
  text-decoration: none;
  letter-spacing: 1px;
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  text-shadow: 1px 1px 9px rgb(133, 132, 199);
}

.menu__nav-link {
  color: var(--colorTerciario);
  font-size: 1em;
  text-decoration: none;
  letter-spacing: 1px;
  text-transform: lowercase;
  font-family: 'Roboto Slab', serif;
  text-shadow: 1px 1px 9px rgb(133, 132, 199);
}

.menu__nav-link:hover {
  color: var(--colorPrimario);
}

.hide__icon {
  padding: 5px;
  color: var(--colorPrimario);
}

.hide {
  padding: 16px;
  margin-right: 20px;
  font-size: 18px;
  float: right;
  color: white;
  cursor: pointer;
  display: none;
  letter-spacing: 1px;
  text-transform: lowercase;
  text-shadow: 1px 1px 9px rgb(133, 132, 199);
}

.hide:hover {
  color: var(--colorPrimario);
}

/*Main*/

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  width: 100%;
  margin: auto;
}

.formContacts {
  width: 23em;
  padding: 30% 0 15% 18%;
}

.formMaps {
  padding-right: 90px;
}

.maps {
  padding-top: 70px;
}

.formContacts__form{
  margin: auto;
  border-radius: 5px;
  color: black;
  padding: 20px;
  background:var(--varTransparent);
}

.formContacts__form-fieldset {
  color: var(--colorLetrasFieldset);
  font-size: .8em;
  font-weight: 700;
  text-align: center;
}

.formContacts__form-txt, 
.formContacts__form-tel,
.formContacts__form-email {
  width: 80%;
  padding: 8px 15px;
  margin: 8px 0;
  margin: auto;
  display: block;
  border: 1 solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.formContacts__form-submit, 
.formContacts__form-reset {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  display: inline;
  width: 40%;
  color: var(--colorQuinto);
  background: var(--colorPrimario);
  padding: 8px 8px;
  border: none;
  border-radius: 4px;
  margin: 10px;
  cursor: pointer;  
}

.formContacts__form-submit:hover,
.formContacts__form-reset:hover {
  background: var(--colorSecundario);
  color: var(--colorTerciario);
  outline: solid 1px black;
}

/*CV*/

.curriculumVitae {
  width: 60px;
  height: 60px;
  position: fixed;
  bottom: 65px;
  right: 20px;
}

.curriculumVitae__img {
  font-size: 40px;
  border-radius: 50%;
  color: black;
  position: relative;
  top:17%;
  left: 27%;
}

.curriculumVitae:hover {
  border-radius: 50%;
  background: var(--colorPrimario);
  box-shadow: 2px 2px 4px#999;
}

/*Footer*/

footer {
  text-align: center;
  width: 100%;
  height: 50px;
  background-color: var(--colorQuinto);
}

.socialMedia {
  width: 20%;
  height: 45px;
  margin: auto;
}

.socialMedia__cont {
display: inline-block;
}

.socialMedia__ico {
  color: var(--colorTerciario);
  text-decoration: none;
  background-color: var(--colorQuinto);
  padding: 10px;
  width: 20px;
  height: 20px;
  font-size: 20px;
  margin-top: 6px;
}

.socialMedia__ico:hover {
  border-radius: 50%;
  background: var(--colorSecundario);
  color: var(--colorQuinto);
}