:root {
  /*Colores*/
  --colorPrimario: #94b0da;
  --colorSecundario: #8f91a2;
  --colorTerciario: #dcedff;
  --colorCuarto: #505a5b;
  --colorQuinto: #343f3e;
  --varHeader:#343f3eef;
  --varTransparent: rgba(0, 0, 0, 0.212);
  --colorLetrasFieldset: rgb(0, 0, 0);

  /*Tipografías*/
  --tipografiaTitles: 'Rubik', sans-serif;
  --tipografiaTxt: 'Karla', sans-serif;
}

/*Imagen de fondo*/

#fondo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/fotoCuerpo16.jpg);
  background-size: cover;
  background-position: center;
  z-index: -1000;
  opacity: .2;
}

body {
  position: relative;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
  
/*Header*/

header {
  width: 90%;
  background: var(--varHeader);
  border-radius: 12px;
  position: fixed;
  top: 3%;
  left: 5%;
}

.contLogonav {
  width: 80%;
  height: auto;
  margin: auto;
}

.cont__logo {
  padding-top: 1.1em;
  width: 30%;
  height: auto;
  float: left;
}

.logo__img {
  width: 40%;
  height: auto;
  float: left;
}

.menu__list {
  width: 45%;
  float: right;
  text-align: center;
  list-style: none;
  overflow: hidden;
}

.menu__nav-li {
  display: inline-block;
  padding: 10px;
  transition: all ease-in-out 250ms;
}

.menu__nav-link--active {
  color: var(--colorPrimario);
  font-size: 1em;
  text-decoration: none;
  letter-spacing: 1px;
  font-family: var(--tipografiaTxt);
  font-weight: 700;
  text-shadow: 1px 1px 9px rgb(133, 132, 199);
}

.menu__nav-link {
  color: var(--colorTerciario);
  font-size: 1em;
  text-decoration: none;
  letter-spacing: 1px;
  text-transform: lowercase;
  font-family: var(--tipografiaTxt);
  text-shadow: 1px 1px 9px rgb(133, 132, 199);
}

.menu__nav-link:hover {
  color: var(--colorPrimario);
}

.hide__icon {
  padding: 5px;
  color: var(--colorPrimario);
}

.hide {
  padding: 16px;
  font-size: 18px;
  float: right;
  color: white;
  cursor: pointer;
  font-family: var(--tipografiaTxt);
  display: none;
  letter-spacing: 1px;
  text-transform: lowercase;
  text-shadow: 1px 1px 9px rgb(133, 132, 199);
}

.hide:hover {
  color: var(--colorPrimario);
}

/*Main*/

.container {
  display: block;
  justify-content: center;
  width: 80%;
  margin:auto;
  padding: 6em 0 3em 0;
  justify-content: center;
}

.formMaps__txt-titleMaps {
  font-family: var(--tipografiaTitles);
  font-size: 2.5em;
  text-align: center;
}

.formMaps__txt-subtitleMaps {
  font-family: var(--tipografiaTxt);
  font-size: 1em;
  text-align: center;
  line-height: 30px;
}

.maps {
  display: block;
  width: 70%;
  margin: auto;
  box-shadow: 3px 10px 20px rgba(0, 0, 0, .50);
}

/*Form*/

.contContact__txt-title {
  font-family: var(--tipografiaTitles);
  text-align: center;
  font-size: 2.5em;  
}

.formMaps__txt-subtitleMaps {
  font-size: 1.4em;
}

.formContacts__form{
  width: 50%;
  margin: auto;
  border-radius: 5px;
  color: black;
  padding: 20px;
  background:var(--varTransparent);
}

.formContacts__form-fieldset {
  font-family:var(--tipografiaTxt);
  color: black;
  font-size: 1em;
  text-align: center;
}

.formContacts__form-txt, 
.formContacts__form-tel,
.formContacts__form-email {
  width: 80%;
  padding: 8px 15px;
  margin: 8px 0;
  margin: auto;
  display: block;
  border: 1 solid var(--colorTerciario);
  border-radius: 4px;
  box-sizing: border-box;
}

.formContacts__form-submit, 
.formContacts__form-reset {
  font-family:var(--tipografiaTxt);
  display: inline;
  font-size: 1em;
  width: 40%;
  color: var(--colorQuinto);
  background: var(--colorPrimario);
  padding: 8px 8px;
  border: none;
  border-radius: 4px;
  margin: 10px;
  cursor: pointer;  
}

.formContacts__form-textarea {
  resize: none;
  border: none;
  font-family: var(--tipografiaTxt);
  outline: none;
}

.formContacts__form-textarea::placeholder {
  font-size: .8em;
  font-family: var(--tipografiaTxt);
}

.formContacts__form-submit:hover,
.formContacts__form-reset:hover {
  background: var(--colorSecundario);
  color: var(--colorTerciario);
  outline: solid 1px black;
}

/*CV*/

.curriculumVitae {
  width: 60px;
  height: 60px;
  position: fixed;
  bottom: 65px;
  right: 20px;
}

.curriculumVitae__img {
  font-size: 40px;
  border-radius: 50%;
  color: black;
  position: relative;
  top:17%;
  left: 27%;
}

.curriculumVitae:hover {
  border-radius: 50%;
  background: var(--colorPrimario);
}

/*Footer*/

footer {
  text-align: center;
  width: 100%;
  height: 50px;
  background-color: var(--colorQuinto);
}

.socialMedia {
  width: 20%;
  height: 45px;
  margin: auto;
}

.socialMedia__cont {
display: inline-block;
}

.socialMedia__ico {
  color: var(--colorTerciario);
  text-decoration: none;
  background-color: var(--colorQuinto);
  padding: 10px;
  width: 20px;
  height: 20px;
  font-size: 20px;
  margin-top: 6px;
}

.socialMedia__ico:hover {
  border-radius: 50%;
  background: var(--colorSecundario);
  color: var(--colorQuinto);
}

@media screen and (min-width: 200px) and (max-width:450px) {

  /*Header*/

  .logo__img {
    width: 100%;
  }

  /*Navegador*/

  .menu__list {
    display: none;
  }

  .menu__nav-li {
    display: flex;
    flex-direction: column;
    padding: 10px;
    transition: all ease-in-out 250ms;
    padding-left: 10px;
  }

  .hide {
    display: block;
  }

  /*Main*/

  .maps {
    width: 100%;
  }

  .contContact__txt-title {
    font-size: 1em;
    padding: 15px 0 15px 0;
  }

  .formContacts__form {
    width: 100%;
  }

  .formContacts__form-fieldset {
    font-size: .9em;
  }

  .formMaps__txt-titleMaps {
    font-family: var(--tipografiaTitles);
    font-size: 1.5em;
  }

  .formMaps__txt-subtitleMaps {
    font-size: .8em;
  }

  .formContacts__form {
    padding: 5px;
  }

  .formContacts__form-submit, 
  .formContacts__form-reset {
    font-size: .8em;
  }

  .formContacts__form-textarea {
    width: 80%;
    height: 100px;
  }

  /*Footer*/

  footer {
    text-align: center;
    width: 100%;
    height: 50px;
    background-color: var(--colorQuinto);
  }
  
  .socialMedia {
    width: 24%;
    height: 45px;
    margin: auto;
  }
  
  .socialMedia__ico {
    padding: 10px;
    width: 18px;
    height: 18px;
    margin-top: 8px;
  }
  
  .socialMedia__ico:hover {
    border-radius: 50%;
    background: var(--colorSecundario);
    color: var(--colorQuinto);
  }
}