:root {
  /*Colores*/
  --colorPrimario: #94b0da;
  --colorSecundario: #8f91a2;
  --colorTerciario: #dcedff;
  --colorCuarto: #505a5b;
  --colorQuinto: #343f3e;
  --varHeader:#343f3eef;

  /*Tipografías*/
  --tipografiaTitles: 'Rubik', sans-serif;
  --tipografiaTxt: 'Karla', sans-serif;
}

/*Imagen de fodo*/

#fondo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/fotoCuerpo1.jpg);
  background-size: cover;
  background-position: center;
  z-index: -1000;
  opacity: .2;
}

body {
  position: relative;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/*Header*/

header {
  width: 90%;
  background: var(--varHeader);
  border-radius: 12px;
  position: fixed;
  top: 3%;
  left: 5%;
  z-index: 1000;
}

.contLogonav {
  width: 80%;
  height: auto;
  margin: auto;
}

.cont__logo {
  padding-top: 1.1em;
  width: 30%;
  height: auto;
  float: left;
}

.logo__img {
  width: 40%;
  height: auto;
  float: left;
}

.menu__list {
  width: 45%;
  float: right;
  text-align: center;
  list-style: none;
  overflow: hidden;
}

.menu__nav-li {
  display: inline-block;
  padding: 10px;
  transition: all ease-in-out 250ms;
}

.menu__nav-link--active {
  color: var(--colorPrimario);
  font-size: 1em;
  text-decoration: none;
  letter-spacing: 1px;
  font-family: var(--tipografiaTxt);
  font-weight: 700;
  text-shadow: 1px 1px 9px rgb(133, 132, 199);
}

.menu__nav-link {
  color: var(--colorTerciario);
  font-size: 1em;
  text-decoration: none;
  letter-spacing: 1px;
  text-transform: lowercase;
  font-family: var(--tipografiaTxt);
  text-shadow: 1px 1px 9px rgb(133, 132, 199);
}

.menu__nav-link:hover {
  color: var(--colorPrimario);
}

.hide__icon {
  padding: 5px;
  color: var(--colorPrimario);
}

.hide {
  padding: 16px;
  font-size: 18px;
  float: right;
  color: white;
  cursor: pointer;
  display: none;
  font-family: var(--tipografiaTxt);
  letter-spacing: 1px;
  text-transform: lowercase;
  text-shadow: 1px 1px 9px rgb(133, 132, 199);
}

.hide:hover {
  color: var(--colorPrimario);
}

.hide__span {
  font-family: var(--tipografiaTxt);
}

/*Textos main*/

.cont__txt {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 6.5em;
}

.cont__txt-title {
  font-family: var(--tipografiaTitles);
  font-size: 2.5em;
}

.cont__txt-subtitle {
  font-size: 1.4em;
  font-family: var(--tipografiaTxt);
}


/* Main-slider */

body{
  background-color: rgb(244, 248, 235);
  font-family: sans-serif;
}

.slider {
  width: 60%;
  margin: auto;
  overflow: hidden; 
}

.slider ul {
  display: flex;
  padding: 0;
  width: 400%;
  height: 400px;
  animation: cambio 10s infinite alternate linear;
}

.slider li {
  list-style: none;
  width: 100%;
}

img {
  position: relative;
  width: 100%;

}

@keyframes cambio {
  0% {margin-left: 0;}
  20% {margin-left: -0%;}

  25% {margin-left: -100%;}
  45% {margin-left: -100%;}

  50% {margin-left: -200%;}
  70% {margin-left: -200%;}

  75% {margin-left: -300%;}
  100% {margin-left: -300%;}
}

#separator {
  width: 25%;
  border: solid 1px var(--colorQuinto);
  margin-top: 3em;
}

/*Button*/

.button--active{
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  padding-bottom: 2em;
  margin: auto;
}


.button {
  padding: 40px 0 40px 0;
  text-align: center;
}

.button__button {
  width: 150px;
  height: 50px;
  border: none;
  color: black;
  background: var(--colorPrimario);
  transition: ease 0.3s;
  outline: none;
  border-radius: 4px;
  font-size: 1em;
  font-family: var(--tipografiaTxt);
  cursor: pointer;
}

.button__button:hover {
  box-shadow: inset 350px 0 0 0 var(--colorCuarto);
  color: #fff;
}

/*CV*/

.curriculumVitae {
  width: 60px;
  height: 60px;
  position: fixed;
  bottom: 65px;
  right: 20px;
}

.curriculumVitae__img {
  font-size: 40px;
  border-radius: 50%;
  color: black;
  position: relative;
  top:17%;
  left: 27%;
}

.curriculumVitae:hover {
  border-radius: 50%;
  background: var(--colorPrimario);
}

/*Footer*/

footer {
  text-align: center;
  width: 100%;
  height: 50px;
  background-color: var(--colorQuinto);
}

.socialMedia {
  width: 20%;
  height: 45px;
  margin: auto;
}

.socialMedia__cont {
display: inline-block;

}

.socialMedia__ico {
  color: var(--colorTerciario);
  text-decoration: none;
  background-color: var(--colorQuinto);
  padding: 10px;
  width: 20px;
  height: 20px;
  font-size: 20px;
  margin-top: 6px;
}

.socialMedia__ico:hover {
  border-radius: 50%;
  background: var(--colorSecundario);
  color: var(--colorQuinto);
}

/*Inicio Media Querys. Implementado en dos versiones. Para pantallas de hasta de 800px y de hasta 370px.*/

@media screen and (min-width: 200px) and (max-width:450px) {

  /*Header*/

  .logo__img {
    width: 100%;
  }

  /*Navegador*/

  .menu__list {
    display: none;
  }

  .menu__nav-li {
    display: flex;
    flex-direction: column;
    padding: 10px;
    transition: all ease-in-out 250ms;
    padding-left: 10px;
  }

  .hide {
    display: block;
  }

  /*Main*/

  main {
    padding-top: 1em;
  }

  .cont__txt {
    font-size: .8em;
  }

  .button {
    padding: 25px;
  }

  .button__button {
    width: 8em;
    height: 3em;
    font-size: .8em;
  }

  .button--active {
    display: flex;
    margin: auto;
    padding-bottom: .1em;
  }

  .slider {
    width: 80%;
    margin-bottom: 0px;
  }

  .slider ul {
    height: 150px;
  }

  /*Footer*/

  footer {
    text-align: center;
    width: 100%;
    height: 50px;
    background-color: var(--colorQuinto);
  }
  
  .socialMedia {
    width: 24%;
    height: 45px;
    margin: auto;
  }
  
  .socialMedia__ico {
    padding: 10px;
    width: 18px;
    height: 18px;
    margin-top: 8px;
  }
  
  .socialMedia__ico:hover {
    border-radius: 50%;
    background: var(--colorSecundario);
    color: var(--colorQuinto);
  }
}