:root {
  --colorPrimario: #94b0da;
  --colorSecundario: #8f91a2;
  --colorTerciario: #dcedff;
  --colorCuarto: #505a5b;
  --colorQuinto: #343f3e;
  --varHeader:#343f3eef;
}

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto Slab', serif;
  background-image: url(../img/fotoCuerpo5bg.png);
  background-size: cover;
  background-position: center;
}

/*Header*/

header {
  width: 90%;
  background: var(--varHeader);
  border-radius: 12px;
  position: fixed;
  top: 3%;
  left: 5%;
}

.logo__img {
  width: 15%;
  float: left;
  padding-top: 10px;
  padding-left:140px
}

.menu__list {
  width: 60%;
  float: right;
  text-align: center;
  list-style: none;
  overflow: hidden;
}

.menu__nav-li {
  display: inline-block;
  padding: 10px;
  transition: all ease-in-out 250ms;
}

.menu__nav-link--active {
  color: var(--colorPrimario);
  font-size: 1em;
  text-decoration: none;
  letter-spacing: 1px;
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  text-shadow: 1px 1px 9px rgb(133, 132, 199);
}

.menu__nav-link {
  color: var(--colorTerciario);
  font-size: 1em;
  text-decoration: none;
  letter-spacing: 1px;
  text-transform: lowercase;
  font-family: 'Roboto Slab', serif;
  text-shadow: 1px 1px 9px rgb(133, 132, 199);
}

.menu__nav-link:hover {
  color: var(--colorPrimario);
}

.hide__icon {
  padding: 5px;
  color: var(--colorPrimario);
}

.hide {
  padding: 16px;
  margin-right: 20px;
  font-size: 18px;
  float: right;
  color: white;
  cursor: pointer;
  display: none;
  letter-spacing: 1px;
  text-transform: lowercase;
  text-shadow: 1px 1px 9px rgb(133, 132, 199);
}

.hide:hover {
  color: var(--colorPrimario);
}

  /*Main*/

.container {
  display: flex;
  width: 80%;
  margin:auto;
}

.main{
  width: 100%;
  text-align: center;
  font-size: 1.4em;
  font-weight: 600;
  margin: 10% 0;
}

.main__cont {
  width: 80%;
  margin: auto; 
  padding: 50px 0 50px 0;
}

/*Cuando se selecciona el txt lo realiza en color.*/

.main__title::selection,
.main__subtitle::selection,
.main__txtMain::selection,
.button__button::selection {
  background: var(--colorPrimario);
  color: black;
}

/*Fin edición selección.*/

.main__title {
  font-size: 60px;
  margin-bottom: 0;
}

.main__subtitle {
  font-size: 30px;
  margin-top: 0;
}

#separator {
  width: 30%;
  border: solid 1px black;
}

/*Botón*/
/*transition se aplica al button al comienzo tambien, corregir*/

.button {
  padding: 40px 0 40px 0;
}

.button__button {
  width: 150px;
  height: 50px;
  border: none;
  color: black;
  background: var(--colorPrimario);
  transition: ease 0.3s;
  outline: none;
  border-radius: 4px;
  font-size: 0.7em;
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  cursor: pointer;
}

.button__button:hover {
  box-shadow: inset 350px 0 0 0 var(--colorCuarto);
  color: #fff;
}

video {
  width: 500px;
  height: 500px;
}
 
/*CV*/

.curriculumVitae {
  width: 60px;
  height: 60px;
  position: fixed;
  bottom: 65px;
  right: 20px;
}

.curriculumVitae__img {
  font-size: 40px;
  border-radius: 50%;
  color: black;
  position: relative;
  top:17%;
  left: 27%;
}

.curriculumVitae:hover {
  border-radius: 50%;
  background: var(--colorPrimario);
  box-shadow: 2px 2px 4px#999;
}

/*Footer*/

footer {
  text-align: center;
  width: 100%;
  height: 50px;
  background-color: var(--colorQuinto);
}

.socialMedia {
  width: 20%;
  height: 45px;
  margin: auto;
}

.socialMedia__ico {
  color: var(--colorTerciario);
  text-decoration: none;
  background-color: var(--colorQuinto);
  padding: 10px;
  width: 20px;
  height: 20px;
  font-size: 20px;
  margin-top: 6px;
}

.socialMedia__ico:hover {
  border-radius: 50%;
  background: var(--colorSecundario);
  color: var(--colorQuinto);
}

/*Inicio Media Querys. Implementado en dos versiones. Para pantallas de hasta de 450px y de hasta 200px.*/

@media screen and (min-width: 200px) and (max-width:450px) {

  /*Header*/
  
  header {
    width: 90%;
    background: var(--varHeader);
    border-radius: 12px;
    position: fixed;
  }

  .logo__img {
    width: 30%;
    float: left;
    padding-top: 17px;
    padding-left:20px
  }

  /*Navegador*/

  .menu__list {
    display: none;
  }

  .menu__nav-li {
    display: flex;
    flex-direction: column;
    padding: 10px;
    transition: all ease-in-out 250ms;
    padding-left: 10px;
  }

  .hide {
    display: block;
  }

  /*Main*/

  .main__title {
    font-size: 1.7em;
    padding-top: 2em;
  }

  .main__subtitle {
    font-size: .8em;
    padding: 15px 0 10px 0;
  }

  .main__txtMain {
    font-size: .8em;
  }

  video {
    width: 280px;
    height: 280px;
  }

  /*Footer*/

  footer {
    text-align: center;
    width: 100%;
    height: 50px;
    background-color: var(--colorQuinto);
  }
  
  .socialMedia {
    width: 24%;
    height: 45px;
    margin: auto;
  }
  
  .socialMedia__ico {
    padding: 10px;
    width: 18px;
    height: 18px;
    margin-top: 8px;
  }
  
  .socialMedia__ico:hover {
    border-radius: 50%;
    background: var(--colorSecundario);
    color: var(--colorQuinto);
  }
}