:root {
  --colorPrimario: #94b0da;
  --colorSecundario: #8f91a2;
  --colorTerciario: #dcedff;
  --colorCuarto: #505a5b;
  --colorQuinto: #343f3e;
  --varHeader:#343f3eef;
  --varWorks:#94b0dad5;
}

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Crimson Text', serif;
  background-image: url(../img/fotoCuerpo3bg.png);
  background-size: cover;
  background-position: center;
}
  
/*Header*/

/*Header*/

header {
  width: 90%;
  background: var(--varHeader);
  border-radius: 12px;
  position: fixed;
  top: 3%;
  left: 5%;
  z-index: 1000;
}

.logo__img {
  width: 15%;
  float: left;
  padding-top: 10px;
  padding-left:140px
}

.menu__list {
  width: 60%;
  float: right;
  text-align: center;
  list-style: none;
  overflow: hidden;
}

.menu__nav-li {
  display: inline-block;
  padding: 10px;
  transition: all ease-in-out 250ms;
}

.menu__nav-link--active {
  color: var(--colorPrimario);
  font-size: 1em;
  text-decoration: none;
  letter-spacing: 1px;
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  text-shadow: 1px 1px 9px rgb(133, 132, 199);
}

.menu__nav-link {
  color: var(--colorTerciario);
  font-size: 1em;
  text-decoration: none;
  letter-spacing: 1px;
  text-transform: lowercase;
  font-family: 'Roboto Slab', serif;
  text-shadow: 1px 1px 9px rgb(133, 132, 199);
}

.menu__nav-link:hover {
  color: var(--colorPrimario);
}

.hide__icon {
  padding: 5px;
  color: var(--colorPrimario);
}

.hide {
  padding: 16px;
  margin-right: 20px;
  font-size: 18px;
  float: right;
  color: white;
  cursor: pointer;
  display: none;
  letter-spacing: 1px;
  text-transform: lowercase;
  text-shadow: 1px 1px 9px rgb(133, 132, 199);
}

.hide:hover {
  color: var(--colorPrimario);
}

.hide__span {
  font-family: 'Roboto Slab', serif;
}

/*Main*/

.container {
  width: 80%;
  display: block;
  margin: auto;
  padding: 8% 0;
}

.works {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.works__cont-txt, 
.works__cont-img {
  display: flex;
  justify-content: center;
  width: 400px;
  height: 400px;
  margin: 20px;
}

.works__cont-img {
  position: relative;
}

/*Comienzo selecci贸n*/

.works__cont-txt-txt::selection {
  background: var(--colorPrimario);
  color: black;
}

/*Fin selecci贸n*/

.works__cont-img-img {
  width: inherit;
  height: inherit;
  display: flex;
  align-items: center;
  border-radius: 6px;
  font-size: 15px;
  box-shadow: 3px 10px 20px rgba(0, 0, 0, .50);
  transition: all 500ms ease-out;
}

.works__cont-txt-txt {
  display: flex;
  align-items: center;
  font-size: 15px;
}

/*Animacion en imagenes*/

.cont__info {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  background: var(--varWorks);
  transition: all 500ms ease-out;
  opacity: 0;
  visibility: hidden;
  text-align: center;
}

.works__cont-img:hover > .cont__info {
  opacity: 1;
  visibility: visible;
}

.cont__info-title {
  color: var(--colorQuinto);
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  font-size: 1.7em;
  margin-bottom: 120px;
  transition: all 500ms ease-out;
  margin-top: 30px;
}

.cont__info-txt {
  color: var(--colorCuarto);
  font-size: 1.2em;
  max-width: 12em;
  margin: auto;
}

.works__cont-img:hover > 
.cont__info .cont__info-title {
  margin-top: 100px;
  margin-bottom: 20px;
}

/*Bot贸n*/

.button {
  padding: 40px 0 40px 0;
}

.button__button {
  width: 150px;
  height: 50px;
  border: none;
  color: var(--colorTerciario);
  background: var(--colorCuarto);
  transition: ease 0.3s;
  outline: none;
  border-radius: 4px;
  font-family: 'Roboto Slab', serif;
  font-size: .8em;
  cursor: pointer;
}

.button__button:hover {
  box-shadow: inset 350px 0 0 0 var(--colorQuinto);
  color: #fff;
}

/*CV*/

.curriculumVitae {
  width: 60px;
  height: 60px;
  position: fixed;
  bottom: 65px;
  right: 20px;
}

.curriculumVitae__img {
  font-size: 40px;
  border-radius: 50%;
  color: black;
  position: relative;
  top:17%;
  left: 27%;
}

.curriculumVitae:hover {
  border-radius: 50%;
  background: var(--colorPrimario);
  box-shadow: 2px 2px 4px rgba(153, 153, 153, 0.712);
}

/*Footer*/

footer {
  text-align: center;
  width: 100%;
  height: 50px;
  background-color: var(--colorQuinto);
}

.socialMedia {
  width: 20%;
  height: 45px;
  margin: auto;
}

.socialMedia__cont {
display: inline-block;

}

.socialMedia__ico {
  color: var(--colorTerciario);
  text-decoration: none;
  background-color: var(--colorQuinto);
  padding: 10px;
  width: 20px;
  height: 20px;
  font-size: 20px;
  margin-top: 6px;
}

.socialMedia__ico:hover {
  border-radius: 50%;
  background: var(--colorSecundario);
  color: var(--colorQuinto);
}

/*Inicio Media Querys. Implementado en dos versiones. Para pantallas de hasta de 800px y de hasta 370px.*/

@media screen and (min-width: 451px) and (max-width:800px) {
  
  /*Header*/

  header {
    width: 90%;
    background: var(--varHeader);
    border-radius: 12px;
    position: fixed;
    top: 3%;
    left: 5%;
  }

  /*Main*/
  
  .logo__img {
    width: 20%;
    float: left;
    padding-top: 14px;
    padding-left:30px
  }
  
  .container {
    
  }

  .works {
    padding-top: 4em;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
  }

  
}

@media screen and (min-width: 200px) and (max-width:450px) {

  /*Header*/
  
  header {
    width: 90%;
    background: var(--varHeader);
    border-radius: 12px;
    position: fixed;
  }

  .logo__img {
    width: 30%;
    float: left;
    padding-top: 17px;
    padding-left:20px
  }

  /*Navegador*/

  .menu__list {
    display: none;
  }

  .menu__nav-li {
    display: flex;
    flex-direction: column;
    padding: 10px;
    transition: all ease-in-out 250ms;
    padding-left: px;
  }

  .hide {
    display: block;
  }

  /*Main*/

  .container {
    width: 100%;
    margin-top: 5em;
  }

  .works {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }

  .worksReverse {
    flex-direction: column-reverse;
  }
 
  .works__cont-img {
  display: flex;
  justify-content: center;
  width: 250px;
  height: 250px;
  }

  .works__cont-txt {
    width: 100%;
  }

  .works__cont-txt-txt {
    width: 80%;
    text-align: center;
    font-size: .8em;  
  }

  /*Animacion en imagenes*/

  .cont__info {
    overflow: hidden;
  }

  .cont__info-title {
    font-size: 1.2em;
  }

  .cont__info-txt {
    font-size: 1.2em;
    margin: auto;
  }

  .works__cont-img:hover > 
  .cont__info .cont__info-title {
    margin-top: 20px;
  }

  /*Bot贸n*/

  .button__button {
    width: 150px;
    height: 50px;
  }
  
 /*Footer*/

  .socialMedia { 
    width: 24%;
    height: auto;
  }
}