:root {
  --colorPrimario: #94b0da;
  --colorSecundario: #8f91a2;
  --colorTerciario: #dcedff;
  --colorCuarto: #505a5b;
  --colorQuinto: #343f3e;
  --varHeader:#343f3eef;
  --varWorks:#94b0dad5;
}

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Crimson Text', serif;
  background-image: url(../img/fotoCuerpo3bg.png);
  background-size: cover;
  background-position: center;
}
  
/*Header*/

/*Header*/

header {
  width: 90%;
  height: 10.7%;
  background: var(--varHeader);
  border-radius: 12px;
  position: fixed;
  z-index: 100;
  top: 3%;
  left: 5%;
}

#menu {
  width: 80%;
  margin: auto;
}

.menu__logo {
  width: 30%;
  float: left;
  padding-top: .5%;
}

/*Tal vez el tamaño del logo es muy grande. Tener en cuenta para el Responsive.*/

.menu__img {
  width: 50%;
  height: 67%;
  padding-top: 3.4%; 
}

.menu__nav {
  width: 70%;
  float: left;
  text-align: right;
  padding-top: .9%;
  box-sizing: border-box;
}

.menu__nav-li {
  display: inline;
  padding: 1em;
}

.menu__nav-link--active {
  color: var(--colorPrimario);
  font-size: 1em;
  text-decoration: none;
  letter-spacing: 1px;
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  text-shadow: 1px 1px 9px rgb(133, 132, 199);
}

.menu__nav-link {
  color: var(--colorTerciario);
  font-size: 1em;
  text-decoration: none;
  letter-spacing: 1px;
  text-transform: lowercase;
  font-family: 'Roboto Slab', serif;
  text-shadow: 1px 1px 9px rgb(133, 132, 199);
}

.menu__nav-link:hover {
  color: var(--colorPrimario);
}

/*Main*/

.container {
  width: 80%;
  display: block;
  margin: auto;
  padding: 8% 0;
}


.works {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.works__cont-txt, 
.works__cont-img {
  display: flex;
  justify-content: center;
  width: 400px;
  height: 400px;
  margin: 20px;
}

.works__cont-img {
  position: relative;
  box-shadow: rgba(0, 15px, 20px, 0.7);
}

/*Comienzo selección*/

.works__cont-txt-txt::selection {
  background: var(--colorPrimario);
  color: black;
}

/*Fin selección*/

.works__cont-img-img {
  width: inherit;
  height: inherit;
  display: flex;
  align-items: center;
  border-radius: 6px;
  font-size: 15px;
  box-shadow: 3px 10px 20px rgba(0, 0, 0, .50);
  transition: all 500ms ease-out;
}

.works__cont-txt-txt {
  display: flex;
  align-items: center;
  font-size: 15px;
}

/*Animacion en imagenes*/

.cont__info {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  background: var(--varWorks);
  transition: all 500ms ease-out;
  opacity: 0;
  visibility: hidden;
  text-align: center;
}

.works__cont-img:hover > .cont__info {
  opacity: 1;
  visibility: visible;
}

.cont__info-title {
  color: var(--colorQuinto);
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  font-size: 1.7em;
  margin-bottom: 120px;
  transition: all 500ms ease-out;
  margin-top: 30px;
}

.cont__info-txt {
  color: var(--colorCuarto);
  font-size: 1.2em;
  max-width: 12em;
  margin: auto;
}

.works__cont-img:hover > 
.cont__info .cont__info-title {
  margin-top: 100px;
  margin-bottom: 20px;
}

/*Botón*/

.button {
  padding: 40px 0 40px 0;
}

.button__button {
  width: 150px;
  height: 50px;
  border: none;
  color: var(--colorTerciario);
  background: var(--colorCuarto);
  transition: ease 0.3s;
  outline: none;
  border-radius: 4px;
  font-family: 'Roboto Slab', serif;
  font-size: .8em;
  cursor: pointer;
}

.button__button:hover {
  box-shadow: inset 350px 0 0 0 var(--colorQuinto);
  color: #fff;
}

/*CV*/

.curriculumVitae {
  width: 60px;
  height: 60px;
  position: fixed;
  bottom: 65px;
  right: 20px;
}

.curriculumVitae__img {
  font-size: 40px;
  border-radius: 50%;
  color: black;
  position: relative;
  top:17%;
  left: 27%;
}

.curriculumVitae:hover {
  border-radius: 50%;
  background: var(--colorPrimario);
  box-shadow: 2px 2px 4px rgba(153, 153, 153, 0.712);
}

/*Footer*/

footer {
  text-align: center;
  width: 100%;
  height: 50px;
  background-color: var(--colorQuinto);
}

.socialMedia {
  width: 20%;
  height: 45px;
  margin: auto;
}

.socialMedia__cont {
display: inline-block;

}

.socialMedia__ico {
  color: var(--colorTerciario);
  text-decoration: none;
  background-color: var(--colorQuinto);
  padding: 10px;
  width: 20px;
  height: 20px;
  font-size: 20px;
  margin-top: 6px;
}

.socialMedia__ico:hover {
  border-radius: 50%;
  background: var(--colorSecundario);
  color: var(--colorQuinto);
}
