/* Colores utilizados */

$colorPrimario: #94b0da;
$colorSecundario: #8f91a2;
$colorTerciario: #dcedff;
$colorCuarto: #505a5b;
$colorQuinto: #343f3e;
$varHeader: #343f3eef;
$varWorks: #94b0dae0;
$varTransparent: rgba(0, 0, 0, 0.212);




