/* Curriculum Vitae */

.curriculumVitae {
    display: flex;
    width: 45px;
    height: 45px;
    position: fixed;
    bottom: 65px;
    right: 20px;
    .cont__curriculumVitae {
      margin: auto;
    }
    .curriculumVitae__img {
      font-size: 1.6em;
      color: black;
      }
      &:hover {
        border-radius: 50%;
        background: $colorPrimario;
      }
  }
  
  