/* Header */

header {
    width: 90%;
    background: $varHeader;
    border-radius: 12px;
    position: fixed;
    top: 3%;
    left: 5%;
    z-index: 2000;
    .contLogonav {
        width: 80%;
        height: auto;
        margin: auto;
        .cont__logo {
          padding-top: 1.1em;
          width: 30%;
          height: auto;
          float: left;
        }
        .logo__img {
          width: 40%;
          height: auto;
          float: left;
          @media screen and (min-width: 200px) and (max-width:450px) {
              width: 100%;
            }
        }
        .menu__list {
          width: 45%;
          float: right;
          text-align: center;
          list-style: none;
          overflow: hidden;
          @media screen and (min-width: 200px) and (max-width:450px) {
              display: none;
          }
        }
        .menu__nav-li {
          display: inline-block;
          padding: 10px;
          transition: all ease-in-out 250ms;
          @media screen and (min-width: 200px) and (max-width:450px) {
          .menu__nav-li {
              display: flex;
              flex-direction: column;
              padding: 10px;
              transition: all ease-in-out 250ms;
              padding-left: 10px;
              }
          }
        }
        .menu__nav-link {
          color: $colorTerciario;
          font-size: 1em;
          text-decoration: none;
          letter-spacing: 1px;
          text-transform: lowercase;
          font-family: $tipografiaTxt;
          text-shadow: $txtShadow;
              &:hover {
                  color: $colorPrimario;
              }
        }
        .menu__nav-link--active {
          color: $colorPrimario;
          font-size: 1em;
          text-decoration: none;
          letter-spacing: 1px;
          font-family: $tipografiaTxt;
          font-weight: 700;
          text-shadow: $txtShadow;
        }
      }

      .hide {
        padding: 16px;
        font-size: 18px;
        float: right;
        color: white;
        cursor: pointer;
        font-family: $tipografiaTxt;
        display: none;
        letter-spacing: 1px;
        text-transform: lowercase;
        text-shadow: $txtShadow;
        &:hover {
            color: $colorPrimario;
          }
          @media screen and (min-width: 200px) and (max-width:450px) {
              display: block;
          }
          .hide__icon {
            padding: 5px;
            color: var(--colorPrimario);
          }
      }
  }   

/*Se destabiliza el header la página works en responsive por alguna razón que se me escapa.*/

  .header__works {
    @media screen and (min-width: 200px) and (max-width:450px) {
     width: 85%;
  }
  }