/* Image bg*/

%img__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: -1000;
}

/* Fondo index */
#fondo__index {
    @extend %img__background;
    background-image: url(../img/fotoCuerpo5.jpg);
    opacity: .2;
  }

/*Fondo aboutme */
#fondo__aboutme {
    @extend %img__background;
    background-image: url(../img/fotoCuerpo11.jpg);
    opacity: .1;
  }

/* Fondo works */
#fondo__works {
  @extend %img__background;
  background-image: url(../img/fotoPedidoXS12.jpg);
  opacity: .11;
}

/* Fondo products */
#fondo__products {
  @extend %img__background;
  background-image: url(../img/fotoCuerpo1.jpg);
  opacity: .2;
}

/* Fondo contacts */
#fondo__contacts {
  @extend %img__background;
  background-image: url(../img/fotoCuerpo16.jpg);
  opacity: .2;
}

  