/* Image bg*/

%img__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: -1000;
}

/* Fondo index */
#fondo {
    @extend %img__background;
    background: url(https://i.ibb.co/r7FccLq/foto-Cuerpo5.jpg);
    opacity: .2;
  }

/*Fondo aboutme */
#fondo {
    @extend %img__background;
    background-image: url(https://i.ibb.co/qYRrCpJ/foto-Cuerpo11.jpg);
    opacity: .1;
  }

/* Fondo works */
#fondo {
  @extend %img__background;
  background-image: url(https://i.ibb.co/TvDFt44/foto-Pedido-XS12.jpg);
  opacity: .11;
}

/* Fondo products */
#fondo {
  @extend %img__background;
  background-image: url(https://i.ibb.co/p2hMzCj/foto-Cuerpo1.jpg);
  opacity: .2;
}

/* Fondo contacts */
#fondo {
  @extend %img__background;
  background-image: url(https://i.ibb.co/LpBZYhL/foto-Cuerpo16.jpg);
  opacity: .2;
}

  